[Unit]
Description=Configure autologin for the first regular user
ConditionPathExists=!%S/silverblue/autologin-done
ConditionPathExists=!/etc/autologin-done
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/usr/libexec/silverblue/autologin
Restart=on-failure
RestartSec=30s
TimeoutStartSec=1min
StateDirectory=silverblue
StateDirectoryMode=0755
CapabilityBoundingSet=
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
ReadWritePaths=/etc/gdm
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native

[Install]
WantedBy=graphical.target
