[Unit]
Description=Update Arkenfox user.js
Wants=podman-user-wait-network-online.service
After=podman-user-wait-network-online.service

[Service]
Type=oneshot
ExecCondition=/bin/bash -c '! flatpak ps | grep -q org.mozilla.firefox'
ExecStart=/bin/firefox-userjs-update.sh
Restart=on-failure
RestartSec=30s
