[Unit]
Description=Reset Ptyxis settings
ConditionPathExists=!%E/ptyxis-reset-settings-done

[Service]
Type=oneshot
ExecStart=/bin/ptyxis-reset-settings.sh

[Install]
WantedBy=default.target
