name: Build Custom Image

on:
  schedule:
    - cron: "00 01 * * *"
  push:
    branches:
      - testing
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - testing
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  silverblue:
    name: silverblue
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Build Silverblue
        uses: blue-build/github-action@v1
        with:
          recipe: silverblue.yml
          cosign_private_key: ${{ secrets.SIGNING_SECRET }}
          registry_token: ${{ github.token }}
          pr_event_number: ${{ github.event.number }}
          maximize_build_space: false
          squash: true
